{% extends 'bace/bace.html'%}
{% load static %}

{% block mycss %} <link href="{% static 'css/index/index-style.css' %}" rel="stylesheet" > {% endblock mycss %}
<!--<link href="" rel="stylesheet" >-->
{% block title %}

Index page

{% endblock %}

{% block content %}
<div class="main container">
    <div class="docktor_speciality_list">
        <h1 class="title">Врачи</h1>
        <div class="speciality">
            {% for speciality_item in speciality %}
            <a href="{% url 'speciality_list' id=speciality_item.pk %}" target="_blank" class="speciality_title">{{ speciality_item.name }}</a>
        {% endfor %}
        </div>

    </div>
        <div class="medical_category_list">
            <h1 class="title">Мед центры</h1>
            <div class="category">
            {% for category_item in category %}
            <a href="{% url 'category_list' id=category_item.pk %}" target="_blank" class="category_title">{{ category_item.name }} <span>: {{ service_count.forloop.counter0 }}</span></a>
            {% endfor %}
                </div>
        </div>

</div>

{% endblock %}